.thread {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  /* has nothing to do with flex:0.7
  column is direction of display:flex 
  and because it is column(y-axis) we use align-content here*/
  height: 100vh;
}

.thread__header {
  display: flex;
  border-bottom: 1px solid rgba(190, 190, 190, 0.1);
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.thread__header__contents {
  display: flex;
  flex-direction: row; /* contents (avatar and info are lined x-axis) */
  align-content: center;
  justify-content: center;
  color: white;
  padding: 10px;
}

.thread__header__contents__info {
  margin-left: 9px;
}

.thread__header__contents__info > h5 {
  font-weight: 500;
  color: gray;
}

.thread__header__details {
  color: white;
}

.thread__header__details:hover {
  color: rgb(95, 197, 223);
}

.thread__messages {
  flex: 1; /* this positions input and header nicely */
  overflow: scroll;
}

.thread__messages::-webkit-scrollbar {
  display: none;
}

.thread__header::-webkit-scrollbar {
  display: none;
}

.thread__input {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border-top: 1px solid rgba(190, 190, 190, 0.1);
}

.thread__input > form {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.thread__input > form > input {
  width: 98%;
  outline-width: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 5px;
  color: white;
}

.thread__input > form > button {
  color: white;
}

.thread__input > form > button:hover {
  color: rgb(95, 197, 223);
}
