html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh; /* reaches bottom of the page */
  background-color: black;
  display: grid;
  place-items: center;
  overflow-y: auto;
}

.app__videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  /* hidden >> contents that overflows the box are hidden 
     # dont use it to just erase scrollbar
     because it will also blow out scroll functionality*/
  width: 80%;
  max-width: 450px;
  scroll-snap-type: y mandatory;
}

/* hides scrollbar for Chrome ans Safari */
.app__videos::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge ans stuff */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
